#!/usr/bin/env nextflow

executor {
	cpus = '20'
	memory = '64GB'
}

report {
	   enabled = true
	   file = 'reports/report.html'
}

timeline {
	enabled = true
	file = 'reports/timeline.html'
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = "images"
}

process {
	errorStrategy='ignore'

	withLabel: script {
		cpus='1'
	}

	withLabel: curl {
		container = 'ibmcom/curl:4.2.0-build.2'
		cpus=1
	}

	withLabel: sratoolkit {
		container = 'evolbioinfo/sratoolkit:v2.10.8'
		cpus='6'
	}

	withLabel: prefetch {
		container = 'evolbioinfo/sratoolkit:v2.10.8'
		cpus='1'
		memory='1GB'
		errorStrategy='ignore'
	}

	withLabel: clumpify {
		container = 'staphb/bbtools:latest'
		cpus='6'
		errorStrategy='ignore'
	}

	withLabel: trimming {
		container = 'nanozoo/fastp:0.23.1--9f2e255'
		memory='3GB'
		cpus='3'
	}

	withLabel: fastqc {
		container = 'biocontainers/fastqc:v0.11.9_cv8'
		errorStrategy = 'ignore'
		memory='1GB'
		cpus='1'
	}

	withLabel: bwa {
		container = 'dceoy/bwa-mem2:latest'
		memory='1GB'
		cpus='3'
	}

	withLabel: bcftools {
		container = 'bschiffthaler/bcftools'
		cpus='1'
	}

	withLabel: samtools {
		container = 'dceoy/samtools:latest'
		cpus='2'
	}

	withLabel: picard {
		container = 'evolbioinfo/picard:v2.23.8'
		errorStrategy='ignore'
		memory='1'
	}

	withLabel: GATK {
		container = 'broadinstitute/gatk'
		cpus='3'
		errorStrategy='ignore'
	}

	withLabel: GATK_SPARK {
		container = 'broadinstitute/gatk'
		cpus='3'
		memory='8GB'
		errorStrategy='ignore'
	}

	withLabel: gatk3 {
		container='broadinstitute/gatk3:3.8-1'
		memory='8G'
		cpus=3
	}

	withLabel: multiqc {
		container = 'ewels/multiqc'
		errorStrategy='ignore'
		cpus='1'
	}
	withLabel: qualimap {
		container = 'pegi3s/qualimap:latest'
		cpus='1'
	}

	withLabel: snpeff {
		container = 'nfcore/snpeff:5.0.WBcel235'
		cpus='1'
	}

	withLabel: tbprofiler {
		container = 'metagenlab/tb-profiler:3.0.8'
		cpus='3'
		memory='4GB'
	}

	withLabel: ascp {
		container = 'biocontainers/scp-aspera:phenomenal-v3.7.2_cv0.3.16'
		cpus='1'
	}

	withLabel: python {
		container = "python:latest"
		cpus='1'
	}
	
	withLabel: R {
		container = "evolbioinfo/r-base:v4.0.2"
		cpus='1'
	}

	withLabel: fastme {
		cpus='15'
		container = 'evolbioinfo/fastme:v2.1.6.2'
	}
	withLabel: fasttree {
		container = 'staphb/fasttree:latest'
		cpus='15'
	}

	withLabel: raxml {
		container = 'evolbioinfo/raxml-ng:v1.0.3'
		cpus='5'
	}

	withLabel: pastml {
		cpus='15'
		container = 'evolbioinfo/pastml:latest'
	}

	withLabel: epa {
		cpus = '5'
		container = 'evolbioinfo/epa-ng:v0.3.8'
	}
	withLabel: mapdamage {
		cpus = 3
		container = "evolbioinfo/mapdamage:v2.2.1"
	}
}
